<% if current_user %>
	<div class="jumbotron">
    	<h2><%= I18n.t('welcomeGroceryApp') %></h2>
    	<p>
        	<%= link_to t('saveMoneyNow'), saves_path, class: 'btn btn-primary sign-up' %>
        </p>
    </div>
<% else %>
    <div class="jumbotron">
        <h2><%= I18n.t('welcomeGroceryApp') %></h2>
        <p class="lead">
        	<%= I18n.t('loveSavingMoney') %>
        </p>
    </div>
    <div class="row">
        <div class="plans clearfix">
        	<div class="col-lg-4 col-lg-offset-2 plan">
                <h2><%= I18n.t('freePlan') %></h2>
                <div class="price pull-right">
                    <%= I18n.t('price') %>: $0
                </div>
                <div class="features">
                    <ul>
                        <li><%= I18n.t('listSize') %></li>
                    </ul>
                </div>
                    <p>
                        <%= link_to t('signUp'), new_user_registration_path, class: 'btn btn-primary sign-up' %>
                    </p>
                    <p>
                        <%= link_to t('saveMoneyNow'), saves_path, class: 'btn btn-primary sign-up' %>
                    </p>
            </div>
            <div class="col-lg-4 plan">
                <h2><%= I18n.t('premiumPlan') %></h2>
                <div class="price pull-right">
                    <%= I18n.t('price') %>: $1
                </div>
                <div class="features">
                    <ul>
                        <li><%= I18n.t('centArticles')%></li>
                    </ul>
                </div>
                    <p>
                        <%= link_to t('subscribe'), charges_new_path, class: 'btn btn-primary sign-up' %>
                    </p>
            </div>
        </div>
    </div>
<% end %>